@model IEnumerable<OutdorAdvManage.Model.Models.Resolution>

@{
    ViewBag.Title = "Управление наражной рекламой (Альфа)";
}

<h2>Оперативная сводка</h2>

<table class="table">
    @*<tr>
        <th>
            Окончание
        </th>
        <th>
            Начало
        </th>
        <th>
            Компания
        </th>
        <th>
            Конструкция
        </th>

    </tr>*@
    <tr>
        <th colspan="4">
            Истекли @Html.ActionLink("Распечатать предупреждения для истекших","") (заглушка)
        </th>
    </tr>
    @foreach (var item in Model.Where(x => x.Finish <= DateTime.Now))
    {
        <tr>
            <td>
                @item.Finish.ToShortDateString()
            </td>
            <td>
                @item.Start.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сounterparty.NameCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisingConstruction.Description)
            </td>
        </tr>
    }

    <tr>
        <th colspan="4">
            В течении недели
        </th>
    </tr>
    @foreach (var item in Model.Where(x => x.Finish > DateTime.Now && x.Finish <= DateTime.Now.AddDays(7)))
    {
        <tr>
            <td>
                @item.Finish.ToShortDateString()
            </td>
            <td>
                @item.Start.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сounterparty.NameCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisingConstruction.Description)
            </td>
        </tr>
    }


    <tr>
        <th colspan="4">
            В течении месяца
        </th>
    </tr>
    @foreach (var item in Model.Where(x => x.Finish > DateTime.Now.AddDays(7) && x.Finish < DateTime.Now.AddMonths(1)))
    {
        <tr>
            <td>
                @item.Finish.ToShortDateString()
            </td>
            <td>
                @item.Start.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сounterparty.NameCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisingConstruction.Description)
            </td>
        </tr>
    }

    <tr>
        <th colspan="4">
            Позже
        </th>
    </tr>
    @foreach (var item in Model.Where(x => x.Finish > DateTime.Now.AddMonths(1)))
    {
        <tr>
            <td>
                @item.Finish.ToShortDateString()
            </td>
            <td>
                @item.Start.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сounterparty.NameCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisingConstruction.Description)
            </td>
        </tr>
    }
</table>
