@model IEnumerable<OutdorAdvManage.Model.Models.Resolution>

@{
    ViewBag.Title = "Управление наражной рекламой (Альфа)";
}

<h2>Разрешения</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сounterparty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisingConstruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisingContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractPermition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @item.Time.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Сounterparty.NameCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Сounterparty.NameCompany )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisingConstruction.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisingContent)
        </td>
        <td>
            @item.Start.ToShortDateString()
        </td>
        <td>
            @item.Finish.ToShortDateString()
        </td>
        <td>
           @item.ContractPermition.Number.ToString() @item.ContractPermition.Time.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ResolutionId }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.ResolutionId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ResolutionId })
        </td>
    </tr>
}

</table>
