@model OutdorAdvManage.Model.Models.AdvertisingConstruction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdvertisingConstruction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeContsruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeContsruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberSides)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberSides)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInSheme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInSheme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvertisingConstructionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
