@model IEnumerable<OutdorAdvManage.Model.Models.AdvertisingConstruction>

@{
    ViewBag.Title = "Рекламные контсрукции";
}
<h2>Конструкции</h2>
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeContsruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberSides)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberInSheme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeContsruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSides)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInSheme)
            </td>
            <th>
                @Html.DisplayFor(model => item.Latitude)
            </th>
            <th>
                @Html.DisplayFor(model => item.Longitude)
            </th>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.AdvertisingConstructionId }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.AdvertisingConstructionId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.AdvertisingConstructionId })
            </td>
        </tr>
    }

</table>
